.hub{
  max-height: 600px; /* Set your desired max height */
  z-index: 10000000;
  overflow-y: auto;  /* Enables vertical scrolling */
  overflow-x: hidden; /* Optional: prevents horizontal scroll */
  padding: 5rem; /* Optional: space for scrollbar */
  border: 1px solid #ccc; /* Optional: to visually separate the scroll area */
  background-color:transparent; /* Optional: to match styling */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}



.hub::-webkit-scrollbar {
  width: 8px;
}

.hub::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}

.hub::-webkit-scrollbar-track {
  background: transparent;
}