.hub {
  max-height: 600px;
  z-index: 10000000;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5rem;
  border: 1px solid #ccc;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.hub::-webkit-scrollbar {
  width: 8px;
}

.hub::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hub::-webkit-scrollbar-track {
  background: transparent;
}