<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/guideline" routerLinkActive="active">NgRx Guideline</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/guideJS" routerLinkActive="active">JavaScript Guide</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/analogy" routerLinkActive="active">NgRx Analogy</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/example" routerLinkActive="active">NgRx Example</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/weather" routerLinkActive="active">Weather Report</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/queAns" routerLinkActive="active">Grill Zone</a></li>
      </ul>
    </div> 
  </div>
</nav>


<div class="app-content-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- Weather Effects (behind all content) -->
<app-snowfall *ngIf="weatherEffect === 'snow'" class="weather-effect"></app-snowfall>
<app-rain *ngIf="weatherEffect === 'rain'" class="weather-effect"></app-rain>
<app-sunrise *ngIf="weatherEffect === 'sunrise'" class="weather-effect"></app-sunrise>
<app-sunset *ngIf="weatherEffect === 'sunset'" class="weather-effect"></app-sunset>
<app-cloud-canvas
  *ngIf="['cloud', 'scatteredCloud', 'brokenCloud', 'OvercastCloud'].includes(weatherEffect)"
  class="weather-effect"
  [effect]="weatherEffect"
></app-cloud-canvas>
<app-wind-effect
  *ngIf="['mist' , 'fog' , 'haze' , 'dust'].includes(weatherEffect)"
  class="weather-effect"
  [type]="weatherEffect"
></app-wind-effect>
<app-heavy-rain *ngIf="weatherEffect === 'heavyrain'" class="weather-effect"></app-heavy-rain>
<app-custom-cursor></app-custom-cursor>